
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.container {
    width: 70%;
    max-width: 1120px;
    border: 1px solid red;
    margin: 0px auto;
    padding: 16px 120px;
}
nav{   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 139px;
    height: auto;
}
nav .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}
nav .menu a {
    text-decoration: none;
    color: #000000;
    font-weight: medium;
    font-size: 16px;
}

.btn1{
    border: none;
    background-color: #469165;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #1bd754;
}