
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.container {
    width: 70%;
    max-width: 1120px;
    /* border: 1px solid red; */
    margin: 0px auto;
    padding: 16px 120px;
}
nav{   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 139px;
    height: auto;
}
nav .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}
nav .menu a {
    text-decoration: none;
    color: #000000;
    font-weight: medium;
    font-size: 16px;
}

.btn1{
    border: none;
    background-color: #469165;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #1bd754;
}



/* BANNER */

#banner{
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 134px;
    justify-items: center;
}

#banner .text-box{
    width: fit-content;
    height: 36px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    gap: 6px;
    display: flex;
    border-radius: 25px;
    padding: 8px 12px;
    h3{
        color: #469165;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
}
#banner .text-box .dot{
    width: 10px;
    height: 10px;
    background: #2ecc71;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 8px #2ecc71; 
}

#banner .banner-text{
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
    .text-color{
        color: #30B868;
    }
h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    font-style: Bold;
}
p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    font-style: Regular;
    margin-bottom: 32px;
}  
}

#banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#banner-btn .banner-btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 5px;
    p{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }
}
#banner-btn .banner-btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    p{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }
}


/* BANNER END */


#note-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


#note-container .section-heading h1{
    margin-top: 60px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

#note-container .section-heading p{
    margin-top: 16px;
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #627382;
}


#note-container .notes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


#note-container .notes .note-cards{
    width: 322px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.notes .note-cards .note-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#note-container .notes .note-cards .icon-wrap{
    width: 60px;
    height: 60px;
    background: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}


.notes .note-cards .note-info h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 8px;
}


